{% load static %}
<footer class="footer text-center text-lg-start">
    <!-- Grid container -->
    <div class="container">
       <!-- Grid container -->

  <!-- Section: Social media -->
      <section class="social-al">
        <div class="footer-title">
          <h5 class="text-uppercase fw-bold ">Follow Us</h5>
        </div>
        <!-- Facebook -->
        <div class="social">
          <a data-mdb-ripple-init class="btn btn-outline btn-floating shadow" href="https://www.facebook.com/profile.php?id=100064056784249" role="button"
          ><i class="fab fa-facebook-f shadow"></i
        ></a>
            
        <!-- Instagram -->
        <a data-mdb-ripple-init class="btn btn-outline btn-floating shadow" href="https://www.instagram.com/infratech1926/" role="button"
        ><i class="fab fa-instagram shadow"></i
        ></a>

      <!-- Linkedin -->
        <a data-mdb-ripple-init class="btn btn-outline btn-floating shadow" href="https://eg.linkedin.com/in/shady-el-gamal-76a7a420a" role="button"
        ><i class="fab fa-linkedin-in shadow"></i
        ></a>
        <!-- Google -->
        <a data-mdb-ripple-init class="btn btn-outline btn-floating shadow" href="https://eg.linkedin.com/in/shady-el-gamal-76a7a420a" role="button"
          ><i class="fab fa-google shadow"></i
        ></a>

        </div>

      </section>
      <!-- Section: Social media -->

      <!-- Section: Form -->
      <section class="footer-form">
        <form action="">
          <!--Grid row-->
          <div class="row d-flex justify-content-center">
            <!--Grid column-->
            <div class="col-auto">
              <p class="pt-2">
                <strong class="fw-bold">Sign up for our newsletter</strong>
              </p>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-5 col-12">
              <!-- Email input -->
              <div data-mdb-input-init class="form-outline">
                <input type="email" id="form5Example24" class="form-control border-light shadow" />
                <label class="form-label" for="form5Example24"></label>
              </div>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-auto">
              <!-- Submit button -->
              <button data-mdb-ripple-init type="submit" class="btn btn-outline border-light shadow mb-4">
                SUBSCRIB
              </button>
            </div>
            <!--Grid column-->
          </div>
          <!--Grid row-->
        </form>
      </section>
      <!-- Section: Form -->

      <!-- Section: Text -->
            <!--Grid row-->
            <div class="footer-title">
              <h5 class="text-uppercase fw-bold">Contact Us</h5>
            </div>
            <div class="Contact-footer">
              <!-- Links -->
              
              <div class="conta">
                <div class="loo">
                  <i class="fas fa-home"></i>
                  <p> Roxy, Cairo, Egypt</p>                      
                </div>
                <div class="loo">
                  <i class="fas fa-envelope"></i>
                  <p>infratech.business</p>
                </div>

                <div class="loo">
                  <i class="fas fa-phone"></i><p>  011 00 010 093</p>
                </div>
                <div class="loo">
                  <i class="fas fa-phone"></i><p>  010 00 970 911</p>
                </div>
              </div>
            </div>
              <!--Grid column-->
        
              
              <!--Grid column-->
            </div>
            <!--Grid row-->
          </div>
          <!-- Grid container -->
          
          <!-- Copyright -->
          <div class="copyR text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
            © 2020 Copyright:
            <a class="Copyright" href="https://infratech.business/">infratech.business</a>
          </div>
          <!-- Copyright -->
    </footer>