{% extends 'base.html' %}
{% load static %}

{% block content %}     
  <!------------------- main slide start ------------------->
  <div id="carouselExampleCaptions" class="carousel slide"  data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{% static 'img/intrusionalarmsystem-منزل-ذكى.webp' %}" class="d-block w-100" alt="intrusionalarmsystem">
        <div class="carousel-caption d-md-block">
          <h5>IoT Smarter Homes</h5>
          <p>Explore IoT solutions for smarter homes, advanced security, and seamless automation integration.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="{% static 'img/كاميرات-مراقبة.webp' %}" class="d-block w-100" alt="كاميرات">
        <div class="carousel-caption d-md-block">
          <h5>Security Cameras</h5>
          <p>High-quality security cameras offering reliable surveillance and protection for homes and businesses.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="{% static 'img/نيتورك.webp' %}" class="d-block w-100" alt="نيتورك">
        <div class="carousel-caption d-md-block">
          <h5>Network Systems</h5>
          <p>Robust network systems ensuring secure, reliable connectivity for businesses.</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <!------------------- main slide end ------------------->   
  <!------------------- main serv start ------------------->     
  <div class="container">
    <div class="main-serv">
      <div class="loow shadow border-0 m-2">
        <a href="{% url 'services' %}">
          <i class="fa-solid fa-screwdriver-wrench"></i>
          <p>Services</p>
        </a>
      </div>
      <div class="loow shadow border-0 m-2">
        <a href="{% url 'contact' %}">
          <i class="fa-solid fa-comments"></i>
          <p>Contact</p>
        </a>
      </div>
      <div class="loow shadow border-0 m-2">
        <a href="{% url 'about' %}">
          <i class="fa-solid fa-address-card"></i>
          <p>About</p>
        </a>
      </div>
      
    </div>
  </div>
  <!------------------- main serv end ------------------->  
  <!------------------- contact-be whats app ------------------->     
  <div class="contact-be">
    <div class="whatsapp shadow">
      <a href="https://api.whatsapp.com/send?phone=201000970911">
           <i class="fa-brands fa-whatsapp"></i>
        </a>
    </div>
  </div> 
  <!------------------- contact-be whats app ------------------->  
  <!------------------- main cards start ------------------->
  <div class = "containers">
    
    <div class="container">
      <div class = "row title-1">
        <h1 class = "text-center">Featured Products</h1>
        <p class = "fw-light w-75 mx-auto text-center mb-0">Discover our top-rated products, offering advanced security, automation, and connectivity solutions for all needs.</p>
      </div>
    </div>  

    <div class = "row g-4 my-3 mx-auto owl-carousel owl-theme">

{% for pro in products|slice:':6' %}
<div class = "col product-item mx-auto shadow border-0 mb-4">
<a href = "{% url 'product' pro_id=pro.id %}">
    <div class = "product-img">
        <img src="{{pro.photo.url}}" alt = "{{pro.name}}" class = "img-fluid d-block mx-auto">                                     
    </div>
    <div class = "product-info">
        <span class = "product-type">{{pro.name}}</span>
        <a href = "#" class = "d-block text-dark text-decoration-none py-2 product-name">
          {{pro.description}}</a>                   
    </div>

</a>
</div>
{% endfor %}

    </div>
  </div>

  <div class="container">
    <div class = "row pt-3 title-1">
      <h1 class = "text-center">Whats New</h1>
      <p class = "fw-light w-75 mx-auto text-center">Stay updated with the latest innovations in security, automation, and smart home technology.</p>
    </div>
    <div class="parent-home">

      <div class="chaild-home d-link shadow">
        <img class=" " src="{% static 'img/security-system.webp' %}" alt="security-system">            
        <span class="dark-home"></span>
        <div class="info-home">
          <h2>Security Cameras</h2>
          <p>High-quality security cameras offering reliable surveillance and protection for homes and businesses.</p>
        </div>
      </div>
      

      <div class="chaild-home d-link shadow">
        <img class=" " src="{% static 'img/it.webp' %}" alt="it">            
        <span class="dark-home"></span>
        <div class="info-home">
          <h2>IT</h2>
          <p>Explore our IT solutions for secure, efficient networks, data management, and system integration services</p>
        </div>
      </div>
      

      <div class="chaild-home d-link shadow">
        <img class=" "  src="{% static 'img/server.webp' %}" alt="server">            
        <span class="dark-home"></span>
        <div class="info-home">
          <h2>Network Systems</h2>
          <p>Robust network systems ensuring secure, reliable connectivity for businesses.</p>
        </div>
      </div>
      

      <div class="chaild-home d-link shadow">
        <img class=" "  src="{% static 'img/هندسة-تصميم-هندسي.webp' %}" alt="تصميم_هندسي">            
        <span class="dark-home"></span>
        <div class="info-home">
          <h2>Engineering</h2>
          <p>Expert engineering solutions for designing, integrating, and optimizing security and automation systems.</p>
        </div>
      </div>
      

      <div class="chaild-home d-link shadow coverx">
        <img class=" "  src="{% static 'img/كاميرات-مراقبة.webp' %}" alt="كاميرات مراقبة">            
        <span class="dark-home"></span>
        <div class="info-home">
          <h2>Integrated Security Systems</h2>
          <p>Comprehensive integrated security systems offering seamless protection for homes and businesses with advanced technology.</p>
        </div>
      </div>
      

    </div>
  </div>

  <!----------------------- ards ad -------------->
    <!------------------- products slide start ------------------->   
    <div class = "containers">
        <div class="container">
          <div class = "row title-1">
            <h1 class = "text-center">Our Services</h1>
            <p class = "fw-light w-75 mx-auto text-center mb-0">Explore our professional services in security, automation, IT solutions, and system integration for all needs.</p>
        </div>
        </div>
  
    <div class = "row g-4 my-3 mx-auto owl-carousel owl-theme">
  
  {% for cat in category|slice:':6' %}
        <div class = "col product-item mx-auto shadow border-0 mb-4">
          <a href = "{% url 'services' %}">
             <div class = "product-img">
               <img src="{{cat.photo.url}}" alt = "{{cat.name}}" class = "img-fluid d-block mx-auto">                                     
             </div>
              <div class = "product-info">
                <span class = "d-block text-dark text-decoration-none py-2 product-name">{{cat.name}}</span>                  
             </div>
          </a>
        </div>
{% endfor %}
            
        </div>
      </div>
      <!------------------- products slide end ------------------->  

      
{% endblock %}