{% extends 'base.html' %}
{% load static %}

{% block content %}

  <!------------------- contact-be whats app ------------------->     
  <div class="contact-be">
    <div class="whatsapp">
      <a href="https://api.whatsapp.com/send?phone=201000970911">
           <i class="fa-brands fa-whatsapp"></i>
        </a>
    </div>
  </div> 
  <!------------------- contact-be whats app ------------------->     
  <div class="container">
    <div class="card m-3 mt-5 mb-5 shadow border-0">
      <div class="row g-0">
        <div class="col-md-6 text-center">
          <img src="{{pro.photo.url}}" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-6 pro-in">
          <div class="card-body">
            <h5 class="card-title">{{pro.name}}</h5>
            <p class="card-text">{{pro.description}}</p>
            {% if pro.price %}
              <p class="card-text">
                <span id="price">{{pro.price}}</span>
              </p>
              {% else %}
              <p class="card-text d-none">
                <span id="price">{{pro.price}}</span>
              </p>
            {% endif %}
            <a href="https://api.whatsapp.com/send?phone=201000970911">
             <button type="button" class="btn btn-success d-flex align-items-center shadow border-0">WhatsApp <i class="fa-brands fa-whatsapp m-1"></i></button> 
             </a>

          </div>
        </div>
      </div>
    </div>
  </div>


<div class = "containers">
    
    <div class="container">
      <div class = "row title-1">
        <h1 class = "text-center">Featured Products</h1>
        <p class = "fw-light w-75 mx-auto text-center mb-0">Discover our top-rated products, offering advanced security, automation, and connectivity solutions for all needs.</p>
      </div>
    </div>  

    <div class = "row g-4 my-3 mx-auto owl-carousel owl-theme">

{% for pro in products|slice:':6' %}
<div class = "col product-item mx-auto shadow border-0 mb-4">
<a href = "{% url 'product' pro_id=pro.id %}">
    <div class = "product-img">
        <img src="{{pro.photo.url}}" alt = "{{pro.name}}" class = "img-fluid d-block mx-auto">                                     
    </div>
    <div class = "product-info">
        <span class = "product-type">{{pro.name}}</span>
        <a href = "#" class = "d-block text-dark text-decoration-none py-2 product-name">
          {{pro.description}}</a>                   
    </div>

</a>
</div>
{% endfor %}

    </div>
  </div>
{% endblock %}